{% extends 'base.jinja' %}

{% block body %}
<div class="register-wrapper">
  <div class="register-header">
    <h1>Register</h1>
  </div>

  <form action="/register" method="post">

  </form>

</div>
{% endblock %}