{% extends 'base.jinja' %} {% block body %}
<div class="thread-page">

  <div class="thread-header">
    <div class="thread-header-headline">How to do something</div>
    <div class="thread-header-details">
      <div>
        <div class="thread-tag">Tag1</div>
        <div class="thread-tag">Tag1</div>
      </div>
    </div>
  </div>

  <div class="thread-body">
    <div class="post-list">
      {% for t in thread %}
      <div class="post-list-item">
        <div class="post-header">
          <a href="">User1</a>
          <div>2019/10/12</div>
        </div>
        <div class="post-text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore repellendus, veritatis natus ullam iusto est
          quae. Tempore, esse distinctio? Fuga officiis mollitia earum perferendis necessitatibus quaerat minus, cum
          inventore reiciendis hic obcaecati sequi eum delectus possimus quam sint commodi aut odit sit tempore
          repellat. Voluptatem totam praesentium aliquid natus! Ipsa harum sint quasi laboriosam mollitia iure, corporis
          culpa ullam voluptates blanditiis dolore eius. Animi veritatis quis repellendus excepturi quia illum
          praesentium accusantium quidem ratione a! Quos ea exercitationem quis ipsam in nam neque amet repellat,
          suscipit alias quod accusamus culpa incidunt pariatur fugit placeat quam ratione veritatis, adipisci aliquid
          eos quibusdam. Fugiat excepturi ipsa ipsum, aliquam nam accusantium. Magni, ad dolorum expedita fugit quaerat
          ea veritatis, labore odit temporibus, doloremque nulla officiis sed sequi quia sunt exercitationem impedit
          laudantium dignissimos harum earum illum accusamus voluptatem. Unde, saepe! Quidem facere dignissimos nihil!
          Consequuntur asperiores commodi eius sint qui molestias! Commodi, temporibus reprehenderit quibusdam quae
          sapiente harum exercitationem! Dolore nobis sapiente vero quasi explicabo voluptate nulla quos ipsam unde
          iure! Accusantium qui ipsa ad iste. Fugiat quasi dignissimos molestias beatae perferendis dicta quo excepturi
          ipsa cum, delectus quam consectetur nisi laborum pariatur dolorum error laboriosam maiores dolores suscipit
          saepe minus tempore neque ut! Quos ratione quae a non ullam in cumque dicta labore facere, debitis velit harum
          at fuga quo ab vel corporis sequi error ipsam et amet, similique ipsum? Quod adipisci modi ipsum ipsa. Fugit
          nulla assumenda, soluta quis quia minima minus possimus quas omnis, consectetur quod. Reiciendis soluta in
          impedit ullam repellendus, dolores, dignissimos recusandae rerum esse fugiat blanditiis. Totam, labore aut!
          Similique perspiciatis delectus atque quam aliquid ipsum. Atque, asperiores! Earum voluptatibus sequi quam
          nisi placeat deserunt magni numquam explicabo tenetur labore. Ad in possimus sed! Obcaecati molestias ducimus
          consectetur cupiditate voluptatem fugit possimus vitae doloribus quo dolores eligendi eius magni non beatae
          quaerat quidem, commodi laborum nemo! Autem, praesentium! Obcaecati repellendus voluptatem quaerat doloremque
          dolorum distinctio. Vel voluptates amet pariatur autem labore omnis voluptatibus voluptatem id blanditiis
          accusamus eveniet et minima est possimus, sequi eos fuga temporibus ratione deleniti esse totam nobis voluptas
          ea optio. Iure, placeat praesentium itaque vero quisquam recusandae cupiditate quia. Facilis autem adipisci
          dolor suscipit impedit ullam ratione velit, maiores quibusdam at atque a deserunt error quae. Libero eaque
          provident quis, quaerat ullam animi eum reiciendis ad quam laboriosam officia, quia molestias similique
          exercitationem, quae minima! Suscipit molestiae, aperiam dicta dolorum sed maxime eos unde quis iusto error,
          nostrum inventore quo. Ipsam sequi inventore sed corrupti unde expedita quae, dicta eum cum assumenda odit aut
          repellat porro tempore, reiciendis culpa in, quidem autem! Maiores incidunt nostrum molestias eum quis
          veritatis sunt, reiciendis eveniet dolorum pariatur necessitatibus corrupti rem nam deleniti dolore cumque
          ipsam iste quidem ea tenetur voluptatibus porro nesciunt. Perferendis quos sit suscipit. Consequatur magnam
          maiores iusto aspernatur dolores tempora quo et beatae, voluptatem est, distinctio culpa esse nostrum, unde
          qui sit quasi? Mollitia aliquid reprehenderit a amet in aut magni sit quis numquam labore optio architecto,
          placeat nisi doloribus praesentium possimus corrupti.
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima ad incidunt nesciunt qui iste ab ut dicta
          laboriosam assumenda adipisci expedita labore quod excepturi odio nihil enim magnam modi possimus quos, nulla
          voluptates ex mollitia quo aut. Qui alias delectus nulla a placeat reprehenderit pariatur perspiciatis eius
          dolor culpa? Animi, laborum dignissimos repellendus, dolor mollitia dolorem sapiente excepturi iure tempora
          culpa quod ipsum saepe tempore, voluptates eos eaque ex! Quasi pariatur quaerat, est nihil repellat quae.
          Nulla ab sunt harum sit aliquam perferendis, voluptatibus dicta ipsum. Reprehenderit debitis impedit tempore
          cumque totam vel possimus officia. Saepe sit quasi labore assumenda.
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae rem recusandae iste vero reprehenderit
          harum aspernatur adipisci? Libero ad obcaecati cupiditate molestiae a iure reprehenderit sint laudantium
          dolorem omnis, quisquam distinctio, est quis, autem natus ex quia ratione molestias nemo ipsum voluptatibus
          unde. Ab quibusdam consectetur ex sint ipsam facere beatae consequuntur non impedit laborum fugiat modi,
          dolore cum maiores aliquid officiis fuga. Fugiat eos sequi, delectus itaque nihil debitis corrupti, accusamus
          aliquam iste modi tempora soluta amet sint architecto quaerat dolorem nemo ea possimus quod hic! Fugit nostrum
          amet voluptate deleniti esse cupiditate, dolores temporibus omnis dolorum, eius, modi animi mollitia. Quae
          tenetur quam voluptates ex, repellat autem vero, ab commodi aperiam aspernatur alias dolore soluta nulla
          magnam voluptas illo esse obcaecati modi voluptatum itaque incidunt nihil unde repudiandae atque. Corrupti
          voluptatum maiores, omnis, a aspernatur esse iste illo beatae nobis rerum ipsam hic! Nihil voluptas quasi
          culpa recusandae natus, dicta quia totam unde officiis maiores aliquam debitis. Quis, voluptates accusamus,
          dignissimos, maxime consequatur dicta eligendi dolore explicabo tenetur natus quos enim perspiciatis commodi.
          Architecto aliquid modi odit optio fugit quas maxime minima minus eaque ratione quis beatae officiis, eligendi
          neque consequuntur animi eos doloremque pariatur praesentium labore? Dolor aliquid consequuntur vitae ut nemo
          expedita, quis facilis, sit maiores illum reprehenderit tenetur natus quibusdam repellendus assumenda
          voluptate similique. Odit cumque nobis praesentium corporis itaque vel officia, minima libero. Nemo tempore
          cum vitae ea totam rerum temporibus magni veritatis ducimus earum recusandae eum delectus deleniti expedita
          nam blanditiis iste animi optio dolorum, ipsum rem id commodi! Nobis ipsum consequatur aliquid, ut iste
          doloremque. Amet excepturi eos odio adipisci aliquam nam modi atque mollitia molestiae saepe sed rem voluptate
          velit id quis repudiandae, earum doloribus et iste explicabo voluptates veritatis. Atque necessitatibus quis
          ipsum voluptas exercitationem quidem perspiciatis dicta architecto earum accusantium. Explicabo nesciunt totam
          expedita qui necessitatibus vitae blanditiis debitis voluptatem, perspiciatis maiores, magni alias neque autem
          aliquam! Saepe doloremque culpa ratione fugiat rem ipsum debitis veniam dolorem qui suscipit dolorum
          provident, minima nemo veritatis aut laborum nostrum quia? Esse, odit? Blanditiis temporibus nemo veniam modi,
          fugiat, suscipit saepe cumque totam in accusantium, eius perspiciatis voluptatem atque aliquam. Impedit
          possimus molestias labore sit quia ipsum quos ratione eligendi magnam illo, illum ipsam reiciendis!
          Voluptatem, distinctio. Minima perspiciatis harum voluptatibus modi cumque laboriosam ullam fugiat explicabo,
          iusto itaque soluta sequi omnis dolor veritatis esse expedita, ex asperiores atque et eveniet neque eum
          blanditiis dolores. Voluptatem reiciendis voluptas illo quibusdam optio autem porro ipsum sapiente.
          Exercitationem neque delectus id quam quibusdam asperiores rem quod error modi expedita voluptatem laborum,
          recusandae illo numquam repellendus consequatur? Eos tempora, adipisci exercitationem fugit obcaecati
          inventore soluta? Nesciunt et optio deserunt debitis, consectetur cupiditate asperiores pariatur quis
          voluptate veniam officia vel accusantium, minima quisquam, placeat maxime repellat tenetur! Quae delectus
          molestiae quas corrupti, reprehenderit error doloremque fuga culpa non sit accusamus consectetur quasi labore
          consequuntur explicabo. Vitae maxime ipsum deserunt placeat sequi recusandae porro et, delectus, omnis dolor
          animi perspiciatis! Quaerat soluta inventore eveniet deleniti dolore veritatis!
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

</div>
{% endblock %}