{% extends 'base.jinja' %} {% block body %}
<div class="mx-auto px-4">

  <!-- Title -->
  <div class="border-b">Thread title</div>

  {% for t in thread %}
  <!-- List of posts -->
  <div class="border-b">
    <div class="flex">
      <div class="mr-3"><a href="/" class="">User</a></div>
      <div>Date</div>
    </div>

    <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem, quam ducimus nulla ipsam similique, quia id illo
      magnam assumenda, provident odit explicabo incidunt? Dolor alias eos distinctio ipsam voluptatibus aspernatur, id
      natus itaque at quaerat nisi, neque ad suscipit accusantium! Tempore sit cupiditate rem delectus. Beatae porro hic
      ut placeat!</div>
  </div>
  {% endfor %}

</div>
{% endblock %}