* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

.container {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}


body {
  /* TODO navbar size */
  padding-top: 50px;
}

/* Navbar stuff*/
.navbar {
  background-color: black;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}

.navbar a {
  color: white;
}

.navbar-nav {
  display: flex;
  justify-content: space-between;

}

.navbar-item {
  padding-left: 5px;
  padding-right: 5px;
}


/* widgets */
.thread-tag {
  padding: 2px 5px;
  background-color: lightblue;
  display: inline-block;
  border-radius: 3px;
}

.count-posts {
  color: green;
  border-radius: 3px;
  /* TODO define width and height */
  min-width: 45px;
  height: auto;
  padding: 5px;
  display: inline-block;
  text-align: center;
}

/* Thread list */

.thread-list {}

.thread-list-item {
  border-bottom: 1px solid #eff0f1;
  padding: 0.5rem;
  display: flex;
}

.thread-summary {
  padding: 0 10px;
}

.thread-tags-list {}

.thread-title {
  font-weight: bold;
}

.thread-date {
  margin-left: auto;
  font-size: 0.8rem;
}

/* Thread page */

.thread-page {}

.thread-header {
  border-bottom: 1px solid;
  margin-bottom: 1rem;
}

.thread-header-headline {
  font-size: 2rem;
}

.thread-header-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.thread-body {}

.post-list {}

.post-list-item {
  display: flex;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid;
}

.post-header {
  padding: 1rem;
}

.post-text {
  flex-grow: 1;
  word-wrap: break-word;
  padding-left: 1rem;
  border-left: 1px solid;
}