<nav class="nav-wrapper">
  <a class="brand-logo" href="/">Navbar</a>
  <ul class="right  hide-on-med-and-down">
    <li><a href="/threads">Threads</a></li>
    <li><a href="/register">Register</a></li>
    <li><a href="/login">Login</a></li>
  </ul>
</nav>