<header class="bg-black text-white text-center  px-4 py-3 flex  w-screen items-center justify-between">
  <!-- Brand and logo -->
  <div class="">
    <a href="/" class="">MessageBoard</a>
  </div>

  <!-- Quick access -->
  <div class="">
  </div>

  <!-- Left section-->
  <div class="flex  ">
    <!-- Search -->
    <div class="flex mr-1">
      <input type="text" class="text-black rounded-full bg-grey-200" />
      <button class=" ml-1">
        <i class="fa fa-search"></i>
      </button>
    </div>

    <!-- User -->
    <div class="flex">
      <a href="{{ url_for('auth.login')}}" class="pr-2">Login</a>
      <a href="{{ url_for('auth.register')}}" class="pr-2">Register</a>
    </div>
  </div>


</header>