<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>MessageBoard</title>

    <!-- Compiled and minified CSS -->

    <link
      href="https://cdn.quilljs.com/1.3.6/quill.snow.css"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>

  <body>
    <header>{% include '_navbar.jinja' %}</header>
    {% block body %}{% endblock %}
    <footer>{% include '_footer.jinja' %}</footer>
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script
      src="{{ url_for('static', filename='js/custom.js') }}"
      charset="utf-8"
    ></script>
  </body>
</html>
