<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  {% if title %}
  <title>MessageBoard - {{ title }}</title>
  {% else %}
  <title>MessageBoard</title>
  {% endif %}


  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>

<body>
  {% include '_layout/_navbar.jinja' %}
  <div class="container mx-auto">
    {% include '_utils/_messages.jinja' %}
    {% block body %}{% endblock %}
  </div>
  {% include '_layout/_footer.jinja' %}


  <script src="{{ url_for('static', filename='js/main.js') }}" charset="utf-8"></script>
</body>

</html>