<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  {% if title %}
  <title>MessageBoard - {{ title }}</title>
  {% else %}
  <title>MessageBoard</title>
  {% endif %}

  <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet" />

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>

<body>
  {% include '_navbar.jinja' %}
  {% block body %}{% endblock %}
  {% include '_footer.jinja' %}

  <script src="https://cdn.quilljs.com/1.3.6/quill.js" />
  <script
      src="{{ url_for('static', filename='js/main.js') }}"
      charset="utf-8"
    />
  </body>
</html>