{% extends 'base.jinja' %} {% block body %}

<div>
  <h1>Home</h1>

  <div id="editor">
    <p>Hello World!</p>
    <p>Some initial <strong>bold</strong> text</p>
    <p><br /></p>
  </div>
</div>
{% endblock %}
